
    body{
        background-image: url("https://i.pinimg.com/736x/3e/f3/42/3ef342f1d708865a1c6bf38ac49ec5d7.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    *{
        box-sizing: border-box;
    }
h1{
    color: white;
    text-align: center;
    font-size: 40px;
}
.container{
    background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); 
  
  
  padding: 20px;
  border-radius: 15px;

}
 label{
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 12px 12px 12px 0;
}
input[type=text], textarea,select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    
}
input[type=submit]{
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover{
    background-color: white;
    color: black;
}
.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after{
content: "";
display: table;
clear: both;
}